
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Roboto flex',sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    
    
}
h1,h2,h3,h4,ul,p,ol,figure{
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
*{
    box-sizing: border-box;
}
input[type="submit"], button, select{
    background-color: transparent;
    border: 0;
}
input{
    border: 0;
}

header h1{
    line-height: 8.5rem;
    text-align: center;
    background-color: #1c5882;
    color: #fff;
    font-weight: 600;
    font-size: 4.5rem;
}
figure{
    max-width: 40rem;
    margin: 3rem auto 0;
}

figure figcaption *{
    text-align: center;
}

fieldset, section{
    max-width: 80rem;
    margin: 0 auto 5rem;
    padding: 1rem;
    border-radius: .4rem;
    border: solid .1rem #1c5882;
}
fieldset legend{
    font-size: 2rem;
    padding: .5rem;
}

form *{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .9rem;
}

input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    
}
button {
    background-color: #1c5882;
    color: #fff;
    padding: 1rem;
    border-radius: .4rem;
    font-size: 2rem;
    cursor: pointer;
    border: solid .1rem #1c5882;
    text-align: center;

}

footer{
    text-align: center;
}
